<div class="container" id="about">
<div class="row">

<div class="col-md-6">

<h2>CHÁCARA RECREIO DESDE 1992 </h2>
<h5>High quality accommodation services </h5>
<article>
<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
</p>
<p>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
</p>
</article>
<button class="btn btn-mais">
Saber Mais 
<i class="fas fa-chevron-circle-right"></i>
</button>
</div>

<div class="col-md-6">
	<%= image_tag 'about1.jpeg', class: 'img-about-1 rounded  d-block', width: '80%' %>
	<%= image_tag 'about2.jpg', class: 'img-about-2 rounded d-block', width: '70%' %>
</div>

</div>
</div>