<div id="discount">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="circle">
					<div id="vinte-percente">
						<center>20</center>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="circle" id="30-percente">

					<center>20</center>
				</div>
			</div>
			<div class="col-4">
				<div class="circle" id="40-percente">
					<center>20</center>
				</div>
			</div>
		</div>
	</div>
</div>