<div class="container-fluid" id="events">
	<div class="container">
	<p>
		<center><h2>ÚLTIMOS EVENTOS</h2></center>
	</p>
	<div class="row">
		<div class="col-4">
			<div class="card" style="width:100%">
				<%= image_tag 'events1', class: 'card-img-top' %>
			  <div class="card-body">
			    <h5 class="card-title">Casamento Paula e Pedro</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>
		<div class="col-4">
			<div class="card" style="width:100%">
				<%= image_tag 'events2', class: 'card-img-top' %>
			  <div class="card-body">
			    <h5 class="card-title">Jantar Empresárial</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>
		<div class="col-4">
			<div class="card" style="width:100%">
			  <%= image_tag 'event3', class: 'card-img-top' %>
			   <div class="card-body">
			    <h5 class="card-title">Festa de Formatura</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>
	</div>

	</div>

</div>