<div class="container-fluid" id="services">
<div class="container">
	<div class="row">
		<div class="col-8">
			<div id="carousel-services" class="carousel slide" data-ride="carousel">
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <%= image_tag 'slide1.jpg', class:"d-block w-100 fill" %>
			    </div>
			    <div class="carousel-item">
			      <%= image_tag 'slide2.jpg', class:"d-block w-100" %>
			    </div>
			    <div class="carousel-item">
			      <%= image_tag 'slide3.jpg', class:"d-block w-100" %>
			    </div>
			    <div class="carousel-item">
			      <%= image_tag 'slide4.jpg', class:"d-block w-100" %>
			    </div>
			  </div>
			</div>
		</div>

		<div class="col-4">

					<a data-target="#carousel-services" data-slide-to="0" class="active card">
						<div class="row">
							<div class="col-2">
								<center><i class="fas fa-home card-img-left"></i></center>
							</div>
							<div class="col-10">
								<strong>Card title</strong>
							    <article>This is some text within a card body.</article>
							</div>
					  	</div>
					</a>

					<a data-target="#carousel-services" data-slide-to="1" class="card">
						<div class="row">
							<div class="col-2">
								<i class="fas fa-home card-img-left"></i>
							</div>
							<div class="col-10">
								<strong>Card title</strong>
							    <article>This is some text within a card body.</article>
							</div>
					  	</div>
					</a>

					<a data-target="#carousel-services" data-slide-to="2" class="card">
						<div class="row">
							<div class="col-2">
								<i class="fas fa-home card-img-left"></i>
							</div>
							<div class="col-10">
								<strong>Card title</strong>
							    <article>This is some text within a card body.</article>
							</div>
					  	</div>
					</a>

					<a data-target="#carousel-services" data-slide-to="3" class="card">
						<div class="row">
							<div class="col-2">
								<i class="fas fa-home card-img-left"></i>
							</div>
							<div class="col-10">
								<strong>Card title</strong>
							    <article>This is some text within a card body.</article>
							</div>
					  	</div>
					</a>

		</div>

	</div>
</div>
</div>