<div id="check">
	<div class="container"> 
	<p id="notice"></p>

	<% flash.each do |message_type, message| %>
	  <div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>

	<% if !@busies.busy?(@check.checkin) %>
		<h2>
			Garanta sua reserva agora!
		</h2>
		<h4>
			Reservar 
		</h4>
		<button class="btn btn-primary">Reservar</button>

	<% else %>
		<%= render 'shared/book', check: @novo_check %>
		<br/>
		<center>
			<h2>
				CALENDÁRIO DE DIAS DISPONÍVEIS
			</h2>
		</center>
		<br/>
		<%= render 'calendar/calendar', date: @date %>
	<% end %>
		
	</div>
</div>