@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";
@import "summernote-bs4";
@import "summernote-custom-theme.min";
@import "simple_calendar";


/*h1{
	color: #3d3d3f;
}*/

body{
	font-family: 'Roboto';
	color: #5F5F5F;
	position: relative;
	padding-top: 1rem;
}

/*########################################################################
#                               HEADER                                 #
########################################################################*/
nav.bg-header ul li a{
	color: #5F5F5F !important;
	font-size: 1rem;	
	margin: 0 0.4rem 0 0.4rem;
}
nav.bg-header ul li{
	a:hover{
		color: #DEB666 !important;;
	}
}

nav.navbar-nav.nav-item.nav-link ul li a{
	margin: 5rem;
}

.navbar-brand{
	color: #696969 !important;
	font-size: 2rem;
}

.bg-header{
	background-color: #FFFFFF;
	box-shadow: 2px 2px 8px #888888;
}

/*########################################################################
#                               BUTTON                                 #
########################################################################*/

.btn.btn-reservas{
	color: #FFFFFF !important;
	background-color: #DEB666;
}

.btn-reservas:hover{
	background-color: #B69854 !important;
}

.btn.btn-mais{
	color: #DEB666 !important;
	background-color: #FFFFFF !important;
	border:1px solid #DEB666 !important;
}

.btn-mais:hover{
	color: #FFFFFF !important;
	background-color: #DEB666 !important;
}



/*########################################################################
#                               BOOK                                 #
########################################################################*/

.book{
	position: absolute;
	bottom: 2rem;
	left: 7%;
	padding-top: 0.5rem;
	padding-bottom: 0;
	background-color: #FFFFFF;
	width: 100%;	
	margin: 0 auto;
	box-shadow: 1px 1px 6px #888888;
	z-index: 2;
}

/*########################################################################
#                               ABOUT                                   #
########################################################################*/

#about{
	position: relative;
	padding-top: 6rem;
	padding-bottom: 6rem;
	color: #808080;
}

article{
	color: #858A99;
	font-family: 'Lato', sans-serif;
}

.img-about-1{
	position: absolute;
	z-index: 3;
	box-shadow: 1px 1px 6px #888888;
	-webkit-filter: blur(0.5px); /* Safari 6.0 - 9.0 */
  	filter: blur(0.5px);
} 

.img-about-2{
	position: absolute;
	right: 5%;
	top: 50%;
	z-index: -1;
	box-shadow: 1px 1px 6px #888888;
	-webkit-filter: blur(0.5px); /* Safari 6.0 - 9.0 */
  	filter: blur(0.5px);
} 

/*########################################################################
#                               SPACE                                   #
########################################################################*/

.space{
	position: absolute;
	min-height: 25rem;
}


/*########################################################################
#                               SERVICES                                #
########################################################################*/

#services{
	position: relative;
	background-color: #F5F3F0;
	padding-top: 6rem;
	padding-bottom: 6rem;
}

#services .card{
	height: 5rem;
	margin-bottom: 1rem;
	background-color: transparent !important;
}

.box{
	border: 1px #858A99 solid;
	margin: 0.7rem;
	padding: .3rem;
	cursor: pointer;
}

.box:active{
	background-color: #333333;
	color: #FFFFFF;
}

.box.active{
	background-color: #333333;
	color: #FFFFFF;
}

/*########################################################################
#                               LOCALIZAÇÃO                              #
########################################################################*/

#localizacao{
	padding: 2rem;
}

/*########################################################################
#                               EVENTS                                   #
########################################################################*/

#events{
	background-color: #F1F0ED;
	padding: 5rem;
}

/*########################################################################
#                               CHECK                                 #
########################################################################*/

#check{
	padding-top: 5rem;
}